<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Configuration -->

    <application
            android:name=".core.GradexApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Gradex">

        <!-- Activity -->

        <activity
                android:name=".ui.setting.views.SettingsActivity"
                android:exported="false" />
        <activity
                android:name=".ui.central.views.HomeActivity"
                android:exported="false" />
        <activity
                android:name=".ui.startup.views.SignUpActivity"
                android:exported="false" />
        <activity
                android:name=".ui.startup.views.SignInActivity"
                android:exported="false" />
        <activity
                android:name=".ui.startup.views.StartActivity"
                android:exported="true">

            <!-- INFO: Configure as startup activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>